<h2>Por Region</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <!-- SearchBox -->
        <button
            class=" btn mx-2 btn-outline-primary"
            *ngFor="let region of regions"
            (click)="searchByRegion(region)"
            [initialValue]="initialValue"
            [ngClass]="{'btn-primary text-white': selectedRegion === region}"
        >{{region}}
    </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <!-- tabla de resultados -->
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>